<%- include('../partials/head.ejs') %>
</head>
<body>
    <main class="container-fluid vh-100">
        <div class=" h-100 my-auto mx-2 row align-items-center justify-content-center">
            <div class="col-lg-4 col-sm-12"> 
                <p class="h2 mb-5 text-center">Ganti Password Baru</p>
                
                <form action="/api/auth/ganti-password" method="POST" id="update-profile-form" class="needs-validation"  novalidate>
                    <div class="mb-3">
                        <label for="phone-number" class="form-label">Nomor HP</label>
                        <input type="tel" class="form-control" name="phone" id="phone-number" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirm-password" class="form-label">Konfirmasi Password</label>
                        <input type="password" class="form-control" name="confirmPassword" id="confirm-password" required>
                    </div>
                    <div class="w-100 text-center">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit"  class="w-100 btn btn-primary mb-3">UPDATE DATA</button>
                    </div>
                </form>                
            </div>
        </div>
        <%- include('../partials/toast-msg.ejs') %>
    </main>    
    
<%- include('../partials/end.ejs') %>