<!-- Modal -->
<div
  class="modal fade"
  id="delete-dbh-modal"
  tabindex="-1"
  aria-labelledby="delete-dbh-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-dbh-modal-label">
          Konfirmasi Hapus Record Realisasi DBH
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Apakah Anda yakin ingin menghapus data ini ?
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Batal
        </button>
        <button type="button" class="btn btn-danger" id="delete-dbh-button">
          Ya, Hapus!
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Tombol Trigger Modal -->

