<div class="mt-3 col-2">
  <!-- Modal -->
  <div
    class="modal fade"
    id="send-report-modal"
    tabindex="-1"
    aria-labelledby="send-report-modal-label"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="send-report-modal-label">
            Konfirmasi Kirim Laporan ke Admin
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          Apakah Anda yakin ingin mengirim laporan sekarang?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Batal
          </button>
          <button type="button" class="btn btn-primary" id="send-report-button">
            Oke, GAS!
          </button>
        </div>
      </div>
    </div>
  </div>

  <button
    type="button"
    id="send-report-btn"
    class="btn btn-primary py-2 px-4 align-self-end"
  >
    <a class="text-white">KIRIM LAPORAN</a>
  </button>
</div>
